<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
</head>
<body>
    @{ Html.RenderPartial("NavigationStripPartial"); }

    @RenderBody()

    <footer>
        <p style="display: inline; position: absolute">
            &copy; @DateTime.Now.Year - Malusi Gcakasi, s208011471
        </p>
        <p id="position" class="debug"></p>
        <p id="status" class="debug"></p>
    </footer>

    @Scripts.Render("~/Scripts/plan4Green/main.js")
</body>
</html>
