<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Images/favicon.png" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/modernizr")

</head>
<body>
    <div id="backgroundClipper">
        <img id="backgroundImage" src="#" />
    </div>

    <div class="overlay">
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery", "~/Scripts/plan4Green/siteLogic/layout.js")
    @RenderSection("scripts", required: false)
</body>
</html>
