@model  Plan4Green.ViewModels.AuthenticationViewModel

@{
    ViewBag.Page = "Login";
}

@Styles.Render("~/Content/theme/base/jquery.ui.login.css", "~/Content/theme/base/jquery.ui.validation.css")

<body>
    <div id="accountHeader">
        <a href="@Url.Action("Login", "Login")">
            <img src="~/Images/home-logo.png" alt="Alternate Text" />
        </a>
    </div>

    <div id="loginForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div class="validationForm">
                @Html.ValidationSummary(true)
            </div>

            <fieldset class="login-fieldset">
                <legend></legend>

                <div class="form">
                    <ul class="inputs">
                        <!-- Username input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.Username, new { @class = "lblUsername" })
                            @Html.TextBoxFor(model => model.Username, null, new { id = "tbLoginUsername" })
                        </li>
                        <li>
                            @Html.LabelFor(model => model.Password, new { @class = "lblPassword" })
                            @Html.PasswordFor(model => model.Password, new { id = "pbLoginPassword" })
                        </li>
                        <li>
                            <ul class="remember-me">
                                <li>@Html.CheckBoxFor(model => model.RememberMe)</li>
                                <li>Remember Me</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="actionButton">
                    <input id="loginButton" type="submit" value="Log in" />
                </div>

                <a id="loginLink" class="accountLink" href="#">I don't have an <strong>account...</strong></a>
            </fieldset>
        }

    </div>

    <div id="signupForm">
        @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <div class="validationForm">
                @Html.ValidationSummary(true)
            </div>

            <fieldset class="signup-fieldset">
                <legend></legend>

                <div class="form">
                    <ul class="inputs">
                        <!--Organisation input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.Organisation)
                            @Html.TextBoxFor(model => model.Organisation, null, new { id = "tbSignupOrganisation" })
                        </li>
                        <!-- Username input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.Username)
                            @Html.TextBoxFor(model => model.Username, null, new { id = "tbSignupUsername" })
                        </li>
                        <!-- Password input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.Password)
                            @Html.PasswordFor(model => model.Password, new { id = "pbSignupPassword" })
                        </li>
                        <!-- Confirm Password input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.ConfirmPassword)
                            @Html.PasswordFor(model => model.ConfirmPassword, new { id = "pbSignupConfirmPassword" })
                        </li>
                    </ul>
                </div>

                <div class="actionButton">
                    <input id="signupButton" type="submit" value="Sign up!" />
                </div>

                <a id="signupLink" class="accountLink" href="#">I already have an <strong>account...</strong></a>
            </fieldset>
        }
    </div>
</body>

@Scripts.Render("~/Scripts/plan4Green/siteLogic/login.js")