@{
    ViewBag.Title = "Login - Welcome to Plan4Green";
}

<header>
    <div class="top-bar">
        <div class="float-right">
            <h3 class="top-bar-text">@ViewBag.Title</h3>
        </div>
    </div>
    
    <div class="welcome-image">
        <img alt="Plan4Green" src="@Url.Content("~/Images/welcome-logo.png") "/>
    </div>
</header>

<body>
    <div>
        <ul class="inputs">
            <li>@Html.Label("Username")</li>
            <li>@Html.TextBox("loginUsername", null, new { id="loginUsername"})</li>
            <li><img alt="This field is required" src="@Url.Content("~/Content/theme/base/images/ui-required-01-red.png")" height="20" width="20" margin="0" padding="0"/></li>
        </ul>
    </div>
    
</body>