@model  Plan4Green.Models.ViewModels.AuthenticationViewModel

@{
    ViewBag.Page = "Login";
}

@Styles.Render("~/Content/theme/base/jquery.ui.login.css", "~/Content/theme/base/jquery.ui.validation.css")

<body>
    <div id="accountHeader">
        <a href="@Url.Action("Login", "Login")">
            <img src="~/Images/home-logo.png" alt="Alternate Text" />
        </a>
    </div>

    <div id="loginForm">
        @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { enctype = "multipary/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "validationForm" })

            <fieldset class="login-fieldset">
                <legend></legend>

                <div class="form">
                    <ul class="inputs">
                        <!-- Username input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.LoginModel.UserName, new { @class = "lblUsername" })<span class="required">*</span>
                            @Html.TextBoxFor(model => model.LoginModel.UserName, null, new { id = "tbLoginUsername" })
                        </li>
                        <li>
                            @Html.LabelFor(model => model.LoginModel.Password, new { @class = "lblPassword" })<span class="required">*</span>
                            @Html.PasswordFor(model => model.LoginModel.Password, new { id = "pbLoginPassword" })
                        </li>
                        <li>
                            <ul class="remember-me">
                                <li>@Html.CheckBoxFor(model => model.LoginModel.RememberMe)</li>
                                <li>Remember Me</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="actionButton">
                    <input id="loginButton" type="submit" value="Log in" />
                </div>

                <a id="loginLink" class="accountLink" href="#">I don't have an <strong>account...</strong></a>
            </fieldset>
        }

    </div>

    <div id="signupForm">
        @using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { enctype = "multipary/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "validationForm" })

            <fieldset class="signup-fieldset">
                <legend></legend>

                <div class="form">
                    <ul class="inputs">
                        <!--Organisation input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.SignupModel.Organisation)<span class="required">*</span>
                            @Html.TextBoxFor(model => model.SignupModel.Organisation, null, new { id = "tbSignupOrganisation" })
                        </li>
                        <!-- Username input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.SignupModel.UserName)<span class="required">*</span>
                            @Html.TextBoxFor(model => model.SignupModel.UserName, null, new { id = "tbSignupUsername" })
                        </li>
                        <!-- Password input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.SignupModel.Password)<span class="required">*</span>
                            @Html.PasswordFor(model => model.SignupModel.Password, new { id = "pbSignupPassword" })
                        </li>
                        <!-- Confirm Password input boxes.........................................................................................-->
                        <li>
                            @Html.LabelFor(model => model.SignupModel.ConfirmPassword)<span class="required">*</span>
                            @Html.PasswordFor(model => model.SignupModel.ConfirmPassword, new { id = "pbSignupConfirmPassword" })
                        </li>
                    </ul>
                </div>

                <div class="actionButton">
                    <input id="signupButton" type="submit" value="Sign up!" />
                </div>

                <a id="signupLink" class="accountLink" href="#">I already have an <strong>account...</strong></a>
            </fieldset>
        }
    </div>

    @Scripts.Render("~/Scripts/plan4Green/siteLogic/login.js")
</body>