@{
    ViewBag.Title = "Login - Welcome to Plan4Green";
    
    Html.RenderPartial("LoginHeaderPartial");
}
<section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset class="login-fieldset">
                <legend>Login</legend>
                <ul class="inputs">
            <!-- Username input boxes.........................................................................................-->
            <li>@Html.Label("Username")</li>
            <li>
                <div class="required-field-container">
                    @Html.TextBox("loginUsername", null, new { id="tbLoginUsername", @class="required-field"})
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
                <p>@Html.Label("This field is required", new { id="lblLoginUsername", @class="required-field-hidden"})</p>
        <!-- Password input boxes.........................................................................................-->
        <ul class="inputs">
            <li>@Html.Label("Password")</li>
            <li>
                <div class="required-field-container">
                    @Html.Password("loginPassword", null, new { id="pbLoginPassword", @class="required-field"})
                    <div class="required-field-identifier" /> 
                </div>
            </li>
        </ul>
                <p>@Html.Label("This field is required", new { id="lblLoginUsername", @class="required-field-hidden"})</p>
                
                <p class="signup">Don't have an account? @Html.ActionLink("Sign Up!", "Signup")</p>
                
                <input type="submit" value="Log in" />
            </fieldset>
        }
</section>