@{
    ViewBag.Title = "Signup - It's Worth It!";

    Html.RenderPartial("LoginHeaderPartial");
}
@Styles.Render("~/Content/theme/base/jquery.ui.login.css", "~/Content/theme/base/thirdparty/orbit-1.2.3.css")
@Scripts.Render("~/Scripts/thirdparty/jquery-1.5.1.min.js", "~/Scripts/thirdparty/jquery.orbit-1.2.3.min.js")

<script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit();
     });
</script>

<section>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class="signup"}))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="login-fieldset">
                <legend>Signup</legend>
                        <ul class="inputs">
            <!--Organisation input boxes.........................................................................................-->
            <li>@Html.Label("Organisation")</li>
            <li>
                <div class="required-field-container">
                    @Html.TextBox("signupOrganisation", null, new { id = "tbSignupOrganisation" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>

        <ul class="inputs">
            <!-- Username input boxes.........................................................................................-->
            <li>@Html.Label("Username")</li>
            <li>
                <div class="required-field-container">
                    @Html.TextBox("signupUsername", null, new { id = "tbSignupUsername", @class = "required-field" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>
        <!-- Password input boxes.........................................................................................-->
        <ul class="inputs">
            <li>@Html.Label("Password")</li>
            <li>
                <div class="required-field-container">
                    @Html.Password("signupPassword", null, new { id = "pbSignupPassword", @class = "required-field" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>
<input type="submit" value="Sign up!" />
        </fieldset>
    }
    <!--<div class="slideContainer">
        <div id="featured">
            <img src="~/Images/signup-slides/slideImage.png" alt="hello1" />
            <img src="~/Images/signup-slides/slideImage.png" alt="hello2" />
            <img src="~/Images/signup-slides/slideImage.png" alt="hello3" />
            <img src="~/Images/signup-slides/slideImage.png" alt="hello4" />
        </div>
    </div>-->
</section>