@model Plan4Green.Models.SignupModel

@{
    ViewBag.Title = "Signup - It's Worth It!";
    Html.RenderPartial("LoginHeaderPartial");
}

@Styles.Render("~/Content/theme/base/jquery.ui.login.css", "~/Content/theme/base/jquery.ui.validation.css", "~/Content/theme/base/thirdparty/orbit-1.2.3.css")
@Scripts.Render("~/Scripts/thirdparty/jquery-1.5.1.min.js", "~/Scripts/thirdparty/jquery.orbit-1.2.3.min.js")

<script type="text/javascript">
     $(window).load(function() {
         $('#featured').orbit({
             bullets: true
         });
     });
</script>

<body>
    @using (Html.BeginForm(null, null, null, FormMethod.Post, new { @class="signup"}))
    {
        
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="signup-fieldset">
                <legend>Signup</legend>
                        <ul class="inputs">
            <!--Organisation input boxes.........................................................................................-->
            <li>@Html.LabelFor(model => model.Organisation)</li>
            <li>
                <div class="required-field-container">
                    @Html.TextBoxFor(model => model.Organisation, null, new { id = "tbSignupOrganisation" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>

        <ul class="inputs">
            <!-- Username input boxes.........................................................................................-->
            <li>@Html.LabelFor(model => model.UserName)</li>
            <li>
                <div class="required-field-container">
                    @Html.TextBoxFor(model => model.UserName, null, new { id = "tbSignupUsername", @class = "required-field" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>
        <!-- Password input boxes.........................................................................................-->
        <ul class="inputs">
            <li>@Html.LabelFor(model => model.Password)</li>
            <li>
                <div class="required-field-container">
                    @Html.PasswordFor(model => model.Password, new { id = "pbSignupPassword", @class = "required-field" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>
        <!-- Confirm Password input boxes.........................................................................................-->
        <ul class="inputs">
            <li>@Html.LabelFor(model => model.ConfirmPassword)</li>
            <li>
                <div class="required-field-container">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { id = "pbSignupConfirmPassword", @class = "required-field" })
                    <div class="required-field-identifier" />
                </div>
            </li>
        </ul>
            <p>@Html.Label("This field is required", new { id = "lblSignupUsername", @class = "required-field-hidden" })</p>

<input type="submit" value="Sign up!" />
        </fieldset>
    }
    <div id="featured">
            <img src="~/Images/signup-slides/slideImage.png" alt="hello1"/>
            <img src="~/Images/signup-slides/slideImage.png" alt="hello2"/>
            <img src="~/Images/signup-slides/slideImage.png" alt="hello3"/>
            <img src="~/Images/signup-slides/slideImage.png" alt="hello4"/>
        </div>

</body>